.container {
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
}

.contentWrapper {
  display: flex;
  align-items: center;
  width: 99%;
  margin: 0 auto;
  justify-content: space-between;
}

@media (min-width: 600px) {
  .contentWrapper {
    width: 97%;
    margin: unset;
    margin-left: 0.5em;
  }
}