.container {
  width: 98%;
  max-width: 300px;
  margin: 0 auto;
  font-size: 1.3rem;
}

.title {
  margin-bottom: 1em;
}

.stats {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed var(--black-border);
  margin-bottom: 1em;
}

.dataStats {
  text-align: center;
  font-weight: 600;
}
