.container {
  width: 98%;
  max-width: 1200px;
  margin: 0 auto 1em auto;
}

.sortContainer,
.textInputContainer {
  max-width: 300px;
  width: 98%;
}

.sortContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 0.8em;
}

.textInputContainer {
  margin: 0 auto 1em auto;
}

@media (min-width: 600px) {
  .sortContainer {
    flex-direction: row;
    max-width: 800px;
    justify-content: space-evenly;
  }
}
