.btnContainer {
  display: flex;
  justify-content: center;
  gap: 1.25em;
  margin-top: 0.5em;
}

.btn {
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 6px;
  color: var(--primary-btn-text-color);
  transition: 0.3s background-color;
}

.cancelBtn {
  background-color: var(--red-btn);
}

.cancelBtn:focus, .cancelBtn:hover {
  background-color: var(--red-btn-hover);
}

.updateBtn {
  background-color: var(--green-btn);
}

.updateBtn:focus, .updateBtn:hover {
  background-color: var(--green-btn-hover);
}


.todoItem {
  padding: 0.5em 1em;
  border: 1px solid var(--black-border);
}

/* .todoItem:has(input:checked) {
  background-color: var(--primary-btn-bg-color);
  color: var(--primary-btn-text-color)
} */

.checkbox {
  display: none;
}

.title {
  margin-bottom: 0.75em;
}

.editTodo {
  color: var(--primary-btn-text-color);
  background-color: var(--primary-btn-bg-color);
  border: none;
  padding: 0.75em 1.5em;
  border-radius: 8px;
}